
i{
  color: green;
  font-size: 20pt;
  font-weight: bold;
}
  strike{
    text-decoration: line-through;
    color: red;
    font-size: 20pt;
  }
u{
  text-decoration: underline;
  color: purple;
  font-size: 20pt;
  text-decoration: overline;
}

h1{
  color: blue;
  font-size: 30pt;
  text-decoration: underline;
}
.first{
  background-color: #FFFDD0;
  width: 100%;
  height: 40%;
  color: orange;
  font-size: 20pt;
  font-family: Arial;
}
.second{
  background-color: #FF00FF;
  width: 80%;
  height: 15%;
}
.third{
  background-color: #C0D727;
  width: 100%;
  height: 30%;
}
  
  
